In [ ]:
Q1. Explain with an example each when to use a for loop and a while loop ?
Ans--> 1) for loop is basically used to ectract element in the list or to perform 
       any operation in the list element
       2) while loop is used to solve some condition base example if the condition is true then 
        the operation is conductedotherwise not .

In [1]:
l=[1,2,3,4,5,6,7,8,9,10]

for loop

In [2]:
for i in l :
    print (i , type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>
10 <class 'int'>

while loop

In [8]:
n= int(input("enter your number"))
starting_point =0
counter =1
while counter <=n :
    starting_point =starting_point+counter
    counter=counter+1
starting_point

enter your number 10

55

In [ ]:
Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop ?

In [17]:
l=[1,2,3,4,5,6,7,8,9,10]

In [7]:
n= int(input("enter your number"))
starting_point =0
counter =1
while counter <=n :
    starting_point =starting_point+counter
    counter=counter+1
starting_point

enter your number 10

55

In [ ]:
Q3. Create a python program to compute the electricity bill for a household ?
   The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.
Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250 .

In [6]:
units=int(input("enter your unit"))


if units <= 100:
    bill= units *4.5
elif units <=200:
    bill= units*4.5+(units-100)*6
elif units <=300:
    bill = units*4.5+units*6+(units-200)*10
else:
    bill=100*4.5+100*6+100*10+(units-300)*20

print("Total electricity  bill:",bill)

enter your unit 310

Total electricity  bill: 2250.0

In [ ]:
Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list ?

In [19]:
range(0,101)

range(0, 101)

In [20]:
list(range(0,101))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [1]:
for i in range(0,101):
    print(i**3)

0
1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000

In [5]:
cube_list  =[]
for num in range(1,101):
    cube =num**3
    if cube %4==0 or cube % 5==0:
        cube_list.append(num)
print(cube_list)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [6]:
cube_list=[]
num=1


while num<=100:
    cube =num **3
    if cube %4==0 or cube %5==0:
        cube_list.append(num)
    num +=1    
print(cube_list)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]